<div>
  <button (click)="onLog()">Login</button>
  <button (click)="onReg()">Registry</button>
</div>

<!-- Односторонньє зваязування (обовязково повинні бути усі атрибути тега)-->
<div
  [ngStyle]="{display: !reg ? 'none' : 'block'}">
  <form
    #regform="ngForm"
    (ngSubmit)="registry(regform)"
  >
    <label>
      Email
      <input
        type="email"
        name="email"
        ngModel
        email
        required>
    </label>

    <label>Username
      <input
        type="text"
        name="username"
        ngModel
        required>
    </label>

    <label>
      Password
      <input
        type="password"
        name="password"
        ngModel
        required>
    </label>

    <button

    >
      Registry now
    </button>

    <div
      style="color: red"
      [ngStyle]="{display: message ? 'block' : 'none'}"
    >
      Please enter {{emptyField}} field !
    </div>

  </form>
  <button (click)="hide(reg)">
    Close
  </button>

</div>

<!--Двостороннє звязування (обовязково повинні бути усі атрибути тега)-->
<div [ngStyle]="{display: !log ? 'none' : 'block'}">
  <form
    (ngSubmit)="login()">

    <label>
      Username
      <input
        type="text"
        name="username"
        [(ngModel)]="user.username"

      >
    </label>

    <label>
      Password
      <input
        type="password"
        name="password"
        [(ngModel)]="user.password"
        >
    </label>

    <button>
      Log In
    </button>

  </form>

  <div
    style="color: red"
    [ngStyle]="{display: message1 ? 'block' : 'none'}"
  >
    Please enter {{emptyField}} field !
  </div>

  <button
    (click)="hide(log)">
    Close
  </button>
</div>

